<div
  id="scrollable"
  class="main-panel-container pl-1.5 sm:pl-0 h-screen mt-5 pb-5 minimal-scrollbar">
  <%= render partial: "form" %>
  <div class="mt-5" id="questions">
    <% @questions.each do |question| %>
      <%= render "question", question: question %>
    <% end %>
  </div>
</div>
