<%= link_to journal_entry_path(journal_entry)do %>
  <div class="mb-5 mr-5 white-panel">
    <div class="mb-5 text-2xl">
      <%= journal_entry.display_title %>
    </div>

    <p>
      <%= journal_entry.content %>
    </p>
  </div>
<% end %>
