<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing journal entry</h1>

  <%= render "form", journal_entry: @journal_entry %>

  <%= link_to "Show this journal entry", @journal_entry, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to journal entries", journal_entries_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
