<div class="main-panel-container h-screen overflow-y-scroll mt-5 pb-5 relative">
  <div class="sticky top-0 left-0 right-0 items-center white-panel py-3 text-xl">
    All Entries
  </div>

  <div id="journal_entries" class="mt-5">
    <%= render @journal_entries %>
  </div>
</div>
