<div class="right-panel-container">
  <div class="flex justify-between items-center white-panel py-3 text-xl">
    All Entries
  </div>

  <div id="journal_entries">
    <%= render @journal_entries %>
  </div>
</div>
