<div class="main-panel-container pr-1.5 h-screen mt-5 pb-5 relative minimal-scrollbar">
  <div class="sticky-header">
    <div>
      All Entries
    </div>
    <div class="text-right">
      <div>
        <%= current_streak_text %>
      </div>
      <div>
        <%= longest_streak_text %>
      </div>
    </div>
  </div>

  <div id="journal_entries" class="mt-5">
    <%= render @journal_entries %>
  </div>
</div>
