<div class="main-panel-container pr-1.5 h-screen mt-5 pb-5 relative minimal-scrollbar">
  <div class="sticky top-0 left-0 right-0 items-center white-panel py-3 text-xl">
    All Entries
  </div>

  <div id="journal_entries" class="mt-5">
    <%= render @journal_entries %>
  </div>
</div>
