<div class="main-panel-container h-screen relative py-5 minimal-scrollbar">
  <div class="sticky-header">
    People
  </div>

  <div class="flex flex-col sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5 mt-5">
    <% @people.each do |person| %>
      <%= link_to person_path(person) do %>
        <div class="white-panel">
          <div class="flex justify-between text-xl mb-4">
            <%= person.name %>
          </div>
          <div>
            Mentions: <%= person.journal_entries.count %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
