<%= form_with model: chat_log,
  data: { controller: "ai-chat-form"},
  id: "#{dom_id(chat_log)}-form",
  class:"flex-shrink-0 pt-5 bg-white",
  method: :post,
  url: chat_log_entries_path(chat_log) do |form| %>
  <div class="flex">
    <%= form.text_field :content,
      class: "w-full rounded-lg border border-gray-300 p-2",
      placeholder: "Type your message here" %>
    <%= form.submit "Submit",
      data: { ai_chat_form_target: "submit" },
      class: "submit-button ml-2 py-2 px-4" %>
  </div>
<% end %>
