<div
  data-controller="ai-menu"
  class="flex flex-col h-full my-5 ml-3 py-5 pl-5 pr-3 transition-all w-20 item-center bg-white rounded-l-lg shadow-md">
  <i data-feather="message-square"
     data-ai-menu-target="button"
     class="base-icon mb-5"></i>
  <div
    data-ai-menu-target="content"
    class="flex-grow grid grid-rows-[1fr,auto] h-0 transition-opacity opacity-0">
    <div class="minimal-scrollbar pr-1.5" data-ai-menu-target="entries">
      <div id="chat-entries">
        <%= render partial: "chat_logs/entry",
          collection: @chat_log.entries_for_display,
          as: :entry %>
      </div>
    </div>
    <%= render "chat_log_entries/form", chat_log: @chat_log %>
  </div>
</div>
