@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-icon {
    @apply h-8 w-8 min-h-[2rem] min-w-[2rem] cursor-pointer
  }

  .main-panel-container {
    @apply h-full w-full
  }

  .main-panel-full {
    @apply main-panel-container white-panel sm:mt-5 lg:mr-1.5
    rounded-none sm:rounded-l-lg lg:rounded-lg
  }

  .white-panel {
    @apply rounded-lg bg-white shadow-md p-5
  }

  .chat-bubble {
    @apply rounded-lg text-white shadow-md p-3 mb-3 relative
  }

  .user-chat-bubble {
    @apply chat-bubble bg-slate-500 ml-6
  }

  .ai-chat-bubble {
    @apply chat-bubble bg-slate-700 mr-6
  }

  .sticky-header {
    @apply flex sticky top-0 left-0 right-0 justify-between white-panel py-3 text-xl
  }

  .submit-button {
    @apply rounded-lg py-3 px-5 bg-blue-200 inline-block font-medium cursor-pointer
  }
}

.chat-bubble > p:not(:last-child) {
  @apply mb-3
}

.minimal-scrollbar {
  overflow-y: scroll;
  scrollbar-color: #888 transparent;
  scrollbar-width: medium;
}

.minimal-scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.minimal-scrollbar::-moz-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

