@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-icon {
    @apply h-8 w-8 min-h-[2rem] min-w-[2rem] cursor-pointer
  }

  .nav-bar {
    @apply flex flex-row h-20 w-full mr-5 p-5 justify-evenly bg-white border-gray-200 border-t-[0.5px] shadow-md
    sm:flex-col sm:h-full sm:w-20 sm:my-5 sm:justify-normal sm:items-center sm:rounded-r-lg sm:rounded-l-none 
    mobile-portrait:m-0 mobile-portrait:border-r-[0.5px] mobile-portrait:rounded-none mobile-portrait:shadow-none
  }

  .chat-sidebar {
    @apply hidden lg:flex flex-col h-full w-20 bg-white rounded-l-lg shadow-md transition-all
    my-5 ml-3 py-5 pl-5 pr-3
    mobile-portrait:rounded-none mobile-portrait:my-0 mobile-portrait:shadow-none mobile-portrait:border-l-[0.5px]
  }

  .main-panel-container {
    @apply h-full w-full mobile-portrait:ml-5
  }

  .main-panel {
    @apply main-panel-container white-panel
    rounded-none sm:rounded-l-lg lg:rounded-lg
    mobile-portrait:rounded-none mobile-portrait:shadow-none
    sm:mt-5 lg:mr-1.5
  }

  .main-panel-full {
    @apply main-panel mobile-portrait:m-0
  }

  .white-panel {
    @apply rounded-lg bg-white shadow-md p-5
  }

  .chat-bubble {
    @apply rounded-lg text-white shadow-md p-3 mb-3 relative
  }

  .user-chat-bubble {
    @apply chat-bubble bg-slate-500 ml-6
  }

  .ai-chat-bubble {
    @apply chat-bubble bg-slate-700 mr-6
  }

  .sticky-header {
    @apply flex sticky top-0 left-0 right-0 justify-between white-panel py-3 text-xl
  }

  .submit-button {
    @apply rounded-lg py-3 px-5 bg-blue-200 inline-block font-medium cursor-pointer
    disabled:opacity-50 disabled:cursor-not-allowed
  }
}

.chat-bubble > p:not(:last-child) {
  @apply mb-3
}

.p-spacing > p:not(:last-child) {
  @apply mb-3
}

.minimal-scrollbar {
  overflow-y: scroll;
  scrollbar-color: #888 transparent;
  scrollbar-width: medium;
}

.minimal-scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.minimal-scrollbar::-moz-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

